<!DOCTYPE html>

<html>
    <head>
        <style>
ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#menu li {
    display: inline;
}
</style>
        <title>TravelTogether -  {% block title %}{% endblock %}</title>
    </head>

    <body>
        <hr />
        <div>
            <ul id=menu>
            {% if user.is_authenticated %}
                <li><a href="/travels/">Travels</a></li>
                <li><a href="/travels/add_travel/">Add a travel</a></li>
                <li><a href="/travels/search">Search a travel</a></li>
                <div style="float:right;">
                    <li>Welcome, {{ user.username }}!</li>
                    <li><a href="/accounts/logout/">Logout</a></li>
                </div>
            {% else %}
                <li><a href="/accounts/register/">Register Here</a></li>
                <li><a href="/accounts/login/">Login</a></li>
            {% endif %}
            </ul>
        </div>
        <hr />
        <div>
            {% block body %}{% endblock %}
        </div>

    </body>
</html>

