{% extends 'base.html' %}

{% block body %}
    {% if created %}
        <strong>Travel created!</strong>
    {% else %}
        <body>
            <h1></h1>

            <form id="travel_form" method="post" action="/travels/add_travel/"
                    enctype="multipart/form-data">

                {% csrf_token %}

                <!-- Display each form. The as_p method wraps each element in a paragraph
                     (<p>) element. This ensures each element appears on a new line,
                     making everything look neater. -->
                {% if error_message %}
                {{ error_message }}
                {% endif %}
                {{ form.as_p }}

                <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Add a travel" />
            </form>
        </body>
    {% endif %}

{% endblock %}
