{% extends 'base.html' %}

{% block body %}
{% if travel %}
    <h3>
        User : {{ travel.creator }} <br>
        Depart: {{ travel.depart_time }} <br>
        Start: {{ travel.start }} <br>
        End: {{ travel.end }} <br>
        Free seats: {{ travel.free_seats }} <br>
        Fee: {{ travel.fee }} <br>
        Duration: {{ travel.duration }} <br>
        Distance: {{ travel.distance }}

        {% if not is_creator %}
            {% if travel_registered %}
                <h3>You are already joined</h3>
            {% endif %}
            {% if not seats_check and not travel_registered %}
                <form action="/travels/{{ travel.id }}/join_success">
                    <input type="submit" value="Join" />
                </form>
            {% endif %}

        {% endif %}
    </h3>
{% else %}
    <h3>No such travel!</h3>
{% endif %}

{% if users %}
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
    </h4>
{% else %}
    <h3>Noone has joined yet!</h3>
{% endif %}

{% endblock %}
