{% extends 'base.html' %}

{% block body %}

{% if user %}
    <h3>
        Username: {{ user.username }} <br>
        First name: {{ user.first_name }} <br>
        Last_name: {{ user.last_name }} <br>
        Email: {{ user.email }} <br>
        Phone: {{ user.account.phone }} <br>
    </h3>
{% else %}
    <h3>No such travel!</h3>
{% endif %}

{% if travels_created %}
    <h3>Created travels <h3>
    <h4>
    <ul>
        {% for travel in travels_created %}
            <li><a href="/travels/{{ travel.id }}">{{ travel }}</a></li>
        {% endfor %}
    </ul>
    </h4>
{% else %}
    <h3>Not offering travels</h3>
{% endif %}

{% if travels_joined %}
    <h3>Joined travels <h3>
    <h4>
    <ul>
        {% for travel in travels_joined %}
            <li><a href="/travels/{{ travel.id }}">{{ travel }}</a></li>
        {% endfor %}
    </ul>
    </h4>
{% else %}
    <h3>No joined travels </h3>
{% endif %}



{% endblock %}
